

<div class="container">
  <div id="page-content">
     
        <h1 class="text-center mt-4 fw-bold "> Create A New Tasks</h1> 
  </div>

      <% if @user.errors.any? %>
          <h2 class="text-black">*******Errors*******</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
            <% end %>
          </ul>
      <% end %>

      <%= form_for(@user) do |f| %>
          
  
        <div>
          <%= f.fields_for :statuses do |t| %>
            <%= render "status_fields", :f => t %>
          <% end %>

          <div>
            <div id="page-content">
              <p class="text-left mty-10"> <%= link_to_add_association "Add New", f, :statuses, class: "btn btn-outline-success fw-bold" %></p> 
            </div>
            
            <!-- (*) -->
          </div>
        
          <div class="form-group row">
          <input type="submit" name="commit" value="Save & Send mail" class = "btn btn-outline-success fw-bold" data-disable-with="Create User">            
          <button type="button" class="btn btn-lightbroun px-4 me-sm-3 fw-bold"><td> </button>
          <% end %>
         

            
          </div>
        </div>
  
</div>